@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Страница не найдена</title>
</head>
<body>
    <h1>Страница не найдена</h1>
    <p>Данного маршрута не существует.</p>
</body>
</html>