@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Что-то пошло не так</title>
</head>
<body>
    <h1>Что-то пошло не так</h1>
    <p>Возникла ошибка. Пожалуйста, обратитесь к разработчику.</p>
</body>
</html>