﻿@using Microsoft.AspNetCore.Identity;
@using PersonalSoulBlog.DAL.Models.Entities;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav ml-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item mr-2">Привет, @User.Identity.Name!</li>
        <form class="form-inline" method="post" asp-controller="Account" asp-action="Logout">
            <input class="enter_submit nav-item" type="submit" value="Выход" />
        </form>
    }
    else
    {
        <li class="nav-item"><a class="nav-link" href="/Account/Login">Вход</a></li>
    }
</ul>