@model PersonalSoulBlog.ViewModels.Articles.CreateArticelRequest


<div class="container">
    <div class="row ">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                <legend>Создание новой статьи</legend>

                <br />
                <div>
                    @for (int i = 0; i < Model.Tags.Count; i++)
                    {
                        <td>
                            <input type="checkbox" name="Tags[@i].IsSelected" value="true" @(Model.Tags[i].IsSelected ? "checked" : "")>
                            <input type="hidden" name="Tags[@i].TagId" value="@Model.Tags[i].TagId">
                            <input type="hidden" name="Tags[@i].TagName" value="@Model.Tags[i].TagName">
                            <label>@Model.Tags[i].TagName</label>
                        </td>
                    }
                </div>

                <div class="mb-3">
                    <label for="txtName" class="form-label">Заголовок</label>
                    <input asp-for="Title" type="text" class="form-control" id="txtName" />
                </div>
                <div class="mb-3">
                    <label for="txtCost" class="form-label">Описание</label>
                    <input asp-for="Description" type="text" class="form-control" id="txtCost" />
                </div>
                <div>
                    <a asp-controller="Tag" asp-action="Index">Вернуться к списку статей</a>
                </div>
                
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>

    </div>

</div>