@model PersonalSoulBlog.ViewModels.Articles.ArticleResponse

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                <legend>Редактирование статьи</legend>
                <div>
                    <label>Теги:</label>
                    @if (Model is not null)
                    {
                        @for (int i = 0; i < Model.Tags.Count; i++)
                        {
                            <span class="form-check">
                                <input class="form-check-input" type="checkbox" name="Tags[@i].IsSelected" value="true" @(Model.Tags[i].IsSelected ? "checked" : "")>
                                <input type="hidden" name="Tags[@i].TagId" value="@Model.Tags[i].TagId">
                                <input type="hidden" name="Tags[@i].TagName" value="@Model.Tags[i].TagName">
                                <label class="form-check-label">@Model.Tags[i].TagName</label>
                            </span>
                        }
                    }
                </div>
                <div class="mb-3">
                    <label for="txtName" class="form-label">Заголовок</label>
                    <input asp-for="Title" type="text" class="form-control" id="txtName" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Описание</label>
                    <textarea asp-for="Description" rows="5" type="text" class="form-control" id="description"></textarea>
                </div>               
                <button type="submit" class="btn btn-primary">Изменить</button>
                <div class="mb-3 pt-3">
                    <a asp-controller="Tag" asp-action="Index">Вернуться к списку статей</a>
                </div>
            </form>
        </div>

    </div>

</div>