@model PersonalSoulBlog.BLL.ViewModels.Tags.CreateTagRequest


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                <legend>Создание нового тега</legend>
                <div class="mb-3">
                    <label for="name" class="form-label">Имя</label>
                    <input asp-for="Name" type="text" class="form-control" id="name" />
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
                <div class="mb-3 pt-3">
                    <a asp-controller="Tag" asp-action="Index">Вернуться к списку тегов</a>
                </div>                
                             
            </form>
        </div>

    </div>

</div>