@model PersonalSoulBlog.BLL.ViewModels.Tags.EditTagRequest

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                <legend>Редактирование тега</legend>
                <div class="mb-3">
                    <label for="txtName" class="form-label">Название</label>
                    <input asp-for="Name" type="text" class="form-control" id="txtName" />
                </div>                
                <button type="submit" class="btn btn-primary">Изменить</button>
                <br /> <br />
                <div class="mb-3">
                    <a asp-controller="Tag" asp-action="Index">Вернуться к списку тегов</a>
                </div>
            </form>
        </div>

    </div>

</div>