@using Microsoft.AspNetCore.Identity;
@using PersonalSoulBlog.DAL.Models.Entities;
@inject SignInManager<User> SignInManager
@inject UserManager<User> _userManager
@model IEnumerable<PersonalSoulBlog.DAL.Models.Entities.Tag>
@{
    ViewData["Title"] = "Index";
}

<div class="conteiner p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Список тегов</h2>
            @if (SignInManager.IsSignedIn(User))
            {
                <a asp-controller="Tag" asp-action="Create">
                    <i class="bi bi-plus-circle"></i> &nbsp; Создать новый тэг
                </a>
            }            
        </div>
    </div>
    <br /> <br />

</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 m-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Статей по тегу: @item.Articles.Count</p>
                        @if (User.Identity.Name == item.User.Email || User.IsInRole("Администратор"))
                        {
                            <div class="btn-group" role="group">
                                <a asp-controller="Tag" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Редактировать</a>
                                <form asp-controller="Tag" asp-action="Delete" method="post" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-danger ms-3">Удалить</button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>