@model PersonalSoulBlog.BLL.ViewModels.Account.LoginRequest

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-md-6 offset-md-3">
            <form method="POST" asp-controller="Account" asp-action="Login">
                <legend>Вход в приложение</legend>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input asp-for="Email" type="text" class="form-control" id="email" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" asp-for="Password" class="form-control" id="password" />
                </div>
                <div class="mb-3">
                    <label asp-for="RememberMe"></label>
                    <input class="form-check-input" asp-for="RememberMe" />
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
                <br /> <br />
                <div class="mb-3">
                    <a asp-controller="Account" asp-action="Register">Впервые на сайте?</a>
                </div>
            </form>
        </div>
    </div>
</div>


@* <h2>Вход в приложение</h2>
<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div>
        <input type="submit" value="Войти" />
    </div>
    <div>
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Впервые на сайте?</a>
    </div>
</form> *@
