@model PersonalSoulBlog.ViewModels.Roles.CreateRoleViewModel


<div class="container">
    <div class="row ">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                <legend>Создание новой роли</legend>
                <div class="mb-3">
                    <label for="txtName" class="form-label">Наименование</label>
                    <input asp-for="Name" type="text" class="form-control" id="txtName" />
                </div>
                <div class="mb-3">
                    <label for="txtCost" class="form-label">Описание</label>
                    <input asp-for="Description" type="text" class="form-control" id="txtCost" />
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>

    </div>

</div>