@model PersonalSoulBlog.ViewModels.Roles.EditRoleRequest

<div class="container">
    <div class="row ">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                <legend>Редактирование роли</legend>
                <div class="mb-3">
                    <label for="txtName" class="form-label">Наименование</label>
                    <input asp-for="Name" type="text" class="form-control" id="txtName" />
                </div>
                <div class="mb-3">
                    <label for="txtCost" class="form-label">Описание</label>
                    <input asp-for="Description" type="text" class="form-control" id="txtCost" />
                </div>
                <div>
                    <a asp-controller="Tag" asp-action="Index">Вернуться к списку ролей</a>
                </div>
                
                <button type="submit" class="btn btn-primary">Изменить</button>
            </form>
        </div>

    </div>

</div>