@model PersonalSoulBlog.BLL.ViewModels.Roles.EditRoleRequest

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                <legend>Редактирование роли</legend>
                <div class="mb-3">
                    <label for="name" class="form-label">Наименование</label>
                    <input asp-for="Name" type="text" class="form-control" id="name" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Описание</label>
                    <textarea asp-for="Description" rows="2" type="text" class="form-control" id="description"></textarea>
                </div>                
                <button type="submit" class="btn btn-primary">Изменить</button>
                <br /> <br />
                <div class="mb-3">
                    <a asp-controller="Tag" asp-action="Index">Вернуться к списку ролей</a>
                </div>
            </form>
        </div>

    </div>

</div>